body, html {
  height: 100%;
  margin: 0;
}

.alumni-sans-pinstripe-regular {
  font-family: "Alumni Sans Pinstripe", serif;
  font-weight: 400;
  font-style: normal;
}

.alumni-sans-pinstripe-regular-italic {
  font-family: "Alumni Sans Pinstripe", serif;
  font-weight: 400;
  font-style: italic;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}